@charset "UTF-8";
main {
	min-height: 720px;
	width: 72%;
	margin: 0 auto;
	section {
		@include padding(32px);
		border: $bd;
	}
	.test_box {
		text-align: center;
	}
	.draw-box {
		position: relative;
		#world {
			display: block;
			background: url('../img/bg-01.png');
			margin: 0 auto;
			overflow: hidden;
		}
		#fps {
			@include scale(4em, auto);
			display: inline-block;
			border: $bd;
			text-align: center;
			position: absolute;
			top: 16px;
			left: 16px;
		}
	}
}
