@charset "UTF-8";
main {
	min-height: 720px;
	width: 72%;
	margin: 0 auto;
	section {
		@include padding(32px);
	}
	.test_box {
		text-align: center;
	}
	.draw-box {
		position: relative;
		#world {
			display: block;
			background: $bg;
			margin: 0 auto;
			overflow: hidden;
			border: $bd;
		}
	}
}
