/* Scss Document */
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
* {
  color: #FFF;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 0;
  text-decoration: none;
  font-family: 'Source Code Pro', Monaco, YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }

body {
  background: #000; }

body, main, section, article, div, h1, h2, h3, h4, h5, p, a, ul, li, figure, figcaption, dl, dt, dd {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul li {
  list-style: none; }

img {
  outline: none; }

header {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #222222; }
  header h1 {
    font-size: 3em;
    text-align: center; }
  header .aa {
    display: block;
    width: 1000px;
    margin: 0 auto;
    font-size: 0.6em;
    text-align: center;
    line-height: 0.8em;
    overflow: hidden; }

footer {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #222222; }
  footer p {
    font-size: 1em;
    text-align: center; }

main {
  min-height: 720px;
  width: 72%;
  margin: 0 auto; }
  main section {
    padding-top: 32px;
    padding-bottom: 32px; }
  main .test_box {
    text-align: center; }
  main .draw-box {
    position: relative; }
    main .draw-box #world {
      display: block;
      background: #000;
      margin: 0 auto;
      overflow: hidden;
      border: 1px solid #FFF; }
