@charset "UTF-8";

#analogClock {
	position: relative;
	display: block;
	margin: 0 auto;
	width: $scl;
	height: $scl;
	#clockBody {
		width: $scl;
		height: $scl;
		border-radius: 50%;
		background: $bg + #222;
	}
	#clockHours {
		width: $thi;
		height: $len / 5 * 3;
		background: $fc - #0F0;
	}
	#clockMinutes {
		width: $thi;
		height: $len / 5 * 4;
		background: $fc - #F00;
	}
	#clockSeconds {
		width: $thi;
		height: $len;
		background: $fc;
	}
	#clockCover {
		width: $thi * 4;
		height: $thi * 4;
		border-radius: 50%;
		background: #999;
	}
	.c_body {
		position: absolute;
	}
	.c_needle {
		position: absolute;
		top: $scl / 2;
		left: $scl / 2;
		transform-origin: 50% 0;
		border-radius: $thi;
	}
	.c_cover {
		position: absolute;
		top: $scl / 2 - $thi * 2;
		left: $scl / 2 - $thi * 2;
	}
}

#digitalClock {
	font-size: 2em;
	text-align: center;
}

#barClock {
	position: relative;
	#barHours {
		@include bar-clock(32px, #FCC, 0.33);
	}
	#barMinutes {
		@include bar-clock(32px, #CFC, 0.33);
		margin-top: -16px;
	}
	#barSeconds {
		@include bar-clock(32px, #CCF, 0.33);
		margin-top: -16px;
	}
}

